.abodeName{
    color: #E0565B;
    /* font-family: "Poppins", sans-serif; */
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;    
}

header{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 25vh;
    gap: 20px;
    align-items: center;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    
}
.newHeader{
    height: 12vh;
    transform: translateY(0px);
   
    justify-content: center;
    transition: height 0.5s ease-out, width 0.3s ease-out, transform 0.3s ease-out;
}
.upperHeader{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.headerIcon{
    height: 2rem;
}
.leftDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.leftDiv h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middleDiv{
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.middleLeftInnerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.rightDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.searchButton img{
    height: 40px;
    width: 40px;
}
.searchButton{
    background-color: transparent;
    border: none;
}
.middleRightInnerDiv {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 2rem;
    transform: translateY(20px);
    transition: height 0.3s ease-out, width 0.3s ease-out, transform 0.3s ease-out;
}

.movedUp {
    width: 40%; 
    height: 60%;
    transform: translateY(0px);
    transition: height 0.3s ease-in, width 0.3s ease-in, transform 0.3s ease-in;
}

.hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
 
  .searchButton{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchDiv{
    background-color: #FF385C;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movedUpSearchDiv{
    background-color: #FF385C;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchInput{
    height: 2rem;
    border: none;
    width: 13vw;
  }
  .searchInput:hover{
    
  }
  .userLoginDiv{
    border: .2px solid rgb(196, 195, 195);
    border-radius: 25px;
    padding: 8px;
  }
  .userLoginInnerDiv{
    display: flex;
    gap: 12px;
  }
  .userLoginDiv:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .rightDiv p:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
  .loginDivDetails{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: absolute;
    right: 4.5vw;
    top: 14vh;
    padding: 15px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
  }
  .loginDivDetails div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items:baseline;
    gap: 20px;
  }

  @media (max-width:600px) {
    header{
      width: 100vw;
      height: 15vh;
    }
    .abodeName{
      
    }
    .userLoginDiv{
      display: none;
    }
    .rightDiv p{
      display: none;
    }
    .middleRightInnerDiv {

      height: 5vh;
      width: 70vw;
    }
    .movedUp{
      width: 100%;
    }
    .search-Div{
      padding: 0px;
    }
    .searchDiv {
      height: 4vh;
      width: 4vh;
    }
    .searchInput{
      width: 100%;
      padding: 0px;
    }
  }