.p-universal-css{
    display: flex;
    align-items: center;
}

.cardComponentMainDIv{
    padding: 20px;
    height: 70vh;
}

.DestinationItem{
    height: 100%;
    width: 20vw;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.imageOfCard{
    width: 100%;
    height: 30vh !important;
    height: 35vh;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.ContainerDiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.placeName{
    font-family: 'Segoe UI';
    display: flex;
    padding-left: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.placeName p{

}

.cityDetails{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating {
    display: flex;
    padding-left:1rem;
    flex-direction: row;
    gap: 1rem;
}
.cityDetails{
    display: flex;
    text-align: left;

}
.cityDetails p{
    width: 100%;
    display: flex;
    padding-left: 1rem;
    font-weight: 600;
}
.priceDiv{
    display: flex;
    padding-left: 1rem;
}

.bedSpan{
    height: 1.5rem;
    width: 1.5rem;

}

.petDiv , .bedDiv{
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
}
.petDiv , .bedDiv p{
    font-weight: 600;
}

@media (max-width:600px){
    .ContainerDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .cardComponentMainDIv{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        max-height: 55vh;
        padding-bottom: 10px;
    }
    .DestinationItem{
        width: 80%;
    }
    .imageOfCard{
        
    }
}