*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  text-align: center;
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  
}
.getReady{
  width: 100%;
  margin-top: 26vh;
  padding: 20px;
}
.off75{
  width: 100vw;
  padding: 20px;
  height: 45vh;
}
.simpleBig{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.simpleBig div{
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}